Sokoban/Service References/WcfSokobanSolver/Solver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Solver" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://walid/WcfSokobanSolvingService/Solver.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://walid/WcfSokobanSolvingService/Solver.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://walid/WcfSokobanSolvingService/Solver.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfSolvingService" />
      <xsd:import schemaLocation="http://walid/WcfSokobanSolvingService/Solver.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sokoban.DataTypes" />
      <xsd:import schemaLocation="http://walid/WcfSokobanSolvingService/Solver.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sokoban.SokobanSolvingLogic" />
      <xsd:import schemaLocation="http://walid/WcfSokobanSolvingService/Solver.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISolver_InitiateLevelSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:InitiateLevelSolver" />
  </wsdl:message>
  <wsdl:message name="ISolver_InitiateLevelSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitiateLevelSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ISolver_GetLevelSolution_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLevelSolution" />
  </wsdl:message>
  <wsdl:message name="ISolver_GetLevelSolution_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLevelSolutionResponse" />
  </wsdl:message>
  <wsdl:portType name="ISolver">
    <wsdl:operation name="InitiateLevelSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolver/InitiateLevelSolver" message="tns:ISolver_InitiateLevelSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolver/InitiateLevelSolverResponse" message="tns:ISolver_InitiateLevelSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLevelSolution">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolver/GetLevelSolution" message="tns:ISolver_GetLevelSolution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolver/GetLevelSolutionResponse" message="tns:ISolver_GetLevelSolution_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISolver" type="tns:ISolver">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitiateLevelSolver">
      <soap:operation soapAction="http://tempuri.org/ISolver/InitiateLevelSolver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLevelSolution">
      <soap:operation soapAction="http://tempuri.org/ISolver/GetLevelSolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Solver">
    <wsdl:port name="BasicHttpBinding_ISolver" binding="tns:BasicHttpBinding_ISolver">
      <soap:address location="http://walid/WcfSokobanSolvingService/Solver.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>