Sokoban/Service References/WcfSokobanSolver/Solver.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfSolvingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfSolvingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://walid/WcfSokobanSolvingService/Solver.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sokoban.DataTypes" />
  <xs:import schemaLocation="http://walid/WcfSokobanSolvingService/Solver.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sokoban.SokobanSolvingLogic" />
  <xs:complexType name="InputLevel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sokoban.DataTypes" minOccurs="0" name="SokobanObjectCollection" nillable="true" type="q1:ArrayOfSokobanObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputLevel" nillable="true" type="tns:InputLevel" />
  <xs:complexType name="OutputSolution">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sokoban.SokobanSolvingLogic" minOccurs="0" name="SolutionInfoEventArgs" nillable="true" type="q2:SolutionInfoEventArgs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutputSolution" nillable="true" type="tns:OutputSolution" />
</xs:schema>